# Environment variables for Garments Production Planning & Analytics

# Database connection string (PostgreSQL / Supabase / Neon / Prisma Postgres)
DATABASE_URL="postgresql://username:password@localhost:5432/production_db?schema=public"



DATABASE_URL=postgres://cb01f03c8fec8328224d22979cbc0215ed8d44730e867f929ffe19a97e0cf564:sk_ZjmfPZxeyNNSletQyfqXF@pooled.db.prisma.io:5432/postgres?sslmode=require